---
// IMPORTS LAYOUTS
import Container from "@/layouts/Container.astro"
---
<Container>
    <section class="md:px-40 py-72 md:py-56 mx-auto w-full">
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase text-center md:inline-block">HY.AM STUDIOS is</span>
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase text-center md:inline-block">a digital agency</span>
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase text-center md:inline-block">based in Berlin.</span>
    </section>
</Container>
