---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

const { data } = Astro.props
---
<Container>
    <section class="py-72 md:py-56 mx-auto w-full">
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase md:text-center md:block">HY.AM STUDIOS is</span>
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase md:text-center md:block">a digital agency</span>
        <span class="text-3xl md:text-8xl font-lausanne font-light uppercase md:text-center md:block">based in Berlin.</span>
    </section>
</Container>
