<section class="md:px-40 md:py-60">
    <p class="text-8xl font-lausanne font-light uppercase text-center">HY.AM STUDIOS is</p>
    <p class="text-8xl font-lausanne font-light uppercase text-center">a digital agency</p>
    <p class="text-8xl font-lausanne font-light uppercase text-center">based in Berlin.</p>
</section>
