<button class="text-xl md:text-4xl font-lausanne font-light uppercase text-center flex items-center gap-4">
    <svg class="css-dp18ix" width="32" height="25" viewBox="0 0 32 25" fill="none"><g clip-path="url(#clip0)"><path d="M20 -0.012207L32 11.9878L20 23.9878" stroke="#111111"></path><rect y="11.7" width="32" height="1" fill="#111111"></rect></g><defs><clipPath id="clip0"><rect width="32" height="24" fill="white" transform="translate(0 0.199951)"></rect></clipPath></defs></svg>
    <!-- <div class="w-8 aspect-square">
        <img
            src="/icons/left-arrow.svg"
            alt=""
            class="w-8 aspect-square"
        />
    </div> -->
    <slot />
    <svg class="css-dp18ix" width="32" height="25" viewBox="0 0 32 25" fill="none"><g clip-path="url(#clip0)"><path d="M20 -0.012207L32 11.9878L20 23.9878" stroke="#111111"></path><rect y="11.7" width="32" height="1" fill="#111111"></rect></g><defs><clipPath id="clip0"><rect width="32" height="24" fill="white" transform="translate(0 0.199951)"></rect></clipPath></defs></svg>
    <!-- <div class="size-8">
        <img
            src="/icons/right-arrow.svg"
            alt=""
            class="size-8"
        />
    </div> -->
</button>
