---
// IMPORTS ASTRO ATOMS
import Video from "@/atoms/video/index.astro"
---
<section class="h-screen max-h-screen overflow-hidden">
    <Video>
        <source src={ "/hero-video.mp4" } type="video/mp4"/>
    </Video>
</section>
