---
// IMPORTS ASTRO ATOMS
import Video from "@/atoms/video/index.astro"

const { data } = Astro.props
---
<section class="h-full w-full bg-zinc-200">
    <Video>
        <source src={ "/hero-video.mp4" } type="video/mp4"/>
    </Video>
</section>
