---
import { homeAPI } from "../api/home"

const runtime = Astro.locals.runtime
const data = await homeAPI( runtime.env.ENVIRONMENT )
const env = runtime.env.ENVIRONMENT

const { home_data, work, meta_tags } = data

// IMPORT LAYOUT COMPONENTS
import Layout from "@/layouts/Layout.astro"

// IMPORT COMMON COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index"
import HeaderBanner from "@/components/common/header-banner/index.astro"

// IMPORTS ASTRO COMPONENTS
import Hero from "@/components/home/hero/index.astro"
import About from "@/components/home/about/index.astro"
import Work from "@/components/home/work/index.astro"
import LetsTalk from "@/components/home/lets-talk/index.astro"
---
<Layout
	description=""
	image=""
	title=""
>
	<section class="h-screen max-h-screen overflow-hidden">
		<HeaderBanner />
		<Header client:load />
		<Hero data={ home_data.hero } />
	</section>
	<About data={ home_data.about } />
	<Work data={ work } />
	<LetsTalk data={ home_data.lets_talk } />
	<Footer />
</Layout>
