---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import Li from "../li/index.astro"
import TargetBlankLi from "../li/target-blank/index.astro"
import RightAlignLi from "../li/right-align/index.astro"

// IMPORTS ASTRO COMPONENTS
import WinksCounter from "../winks/index"
---
<footer class="bg-hyam_neon md:hidden">
    <Container>
        <section class="grid grid-cols-3 gap-4 border-y border-black py-3">
            <section class="grid grid-cols-1 gap-x-12">
                <ul class="grid grid-cols-2 gap-x-12 pb-3">
                    <TargetBlankLi href="https://www.instagram.com/hyamstudiosberlin/" aria_label="">Instagram</TargetBlankLi>
                    <TargetBlankLi href="https://www.linkedin.com/company/hyamstudios" aria_label="">Linkedin</TargetBlankLi>
                </ul>
                <ul class="grid grid-cols-2 gap-x-12 border-t pt-3 border-black">
                    <Li href="/corporate-design-agentur" aria_label="">Corporate Design</Li>
                    <Li href="/e-commerce-agentur" aria_label="">E-Commerce</Li>
                </ul>
            </section>
            <section class="flex justify-center items-center">
                <p class="font-lausanne font-light uppercase">Newsletter anmelden</p>
            </section>
            <section class="grid grid-cols-1 gap-x-12">
                <ul class="grid grid-cols-2 gap-x-12 pb-3">
                    <RightAlignLi href="/social-media-agency" aria_label="">Social Media</RightAlignLi>
                    <RightAlignLi href="/branding-agency-berlin" aria_label="">Branding</RightAlignLi>
                </ul>
                <ul class="grid grid-cols-2 gap-x-12 border-t pt-3 border-black">
                    <RightAlignLi href="/tiktok-agentur" aria_label="">TikTok</RightAlignLi>
                    <RightAlignLi href="/employer-branding-agentur" aria_label="">Employer Branding</RightAlignLi>
                </ul>
            </section>
        </section>
        <section class="flex flex-col items-center py-6">
            <section class="flex items-center gap-6">
                <div class="py-3 px-3.5 border border-black rounded-full bg-black">
                    <p class="text-hyam_neon cursor-pointer">EN</p>
                </div>
                <WinksCounter client:load />
                <div class="group py-3 px-3.5 border border-black rounded-full bg-transparent hover:bg-black">
                    <p class="group-hover:text-hyam_neon cursor-pointer">DE</p>
                </div>
            </section>
            <section class="flex gap-6 items-center">
                <ul class="flex gap-6 items-center">
                    <Li>Cookies</Li>
                    <Li href="/imprint" aria_label="">Imprint</Li>
                    <Li href="/privacy-policy" aria_label="">Privacy Policy</Li>
                </ul>
            </section>
            <p>&copy; HY.AM Studios { new Date().getFullYear() }</p>
        </section>
    </Container>
</footer>
