---
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/image";
const {

    src,
    alt,
    name,
    title,
    size

} = Astro.props
---
<div class="space-y-2 overflow-hidden">
    <div class={ size }>
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full overflow-hidden"
        />
    </div>
    <div class="pt-4">
        <p class="font-lausanne font-light uppercase">{ name }</p>
    </div>
    <p class="text-lg md:text-4xl font-lausanne font-light uppercase">{ title }</p>
</div>
